<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Test</title>
        <meta name="description" content="This site is to present my design concept">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Place favicon.ico in the root directory -->

        <!-- inject:css -->
        <link rel="stylesheet" href="/css/styles.css">
        <!-- endinject -->

        <!-- inject:headJs:js -->
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <!-- endinject -->
    </head>
    <body>
        Testing....
        
        
    
        <!-- inject:footer:js -->
        <script src="/footerjs/themeScript.js"></script>
        <!-- endinject -->
    </body>
</html>